<h1>My Friends List</h1>

<% if current_user.friends %>
  <div class="row">
    <div class="col-9">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Profile</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.friends.each do |friend| %>
            <tr>
              <th scope="row"><%= friend.full_name %></th>
              <td><%= friend.email %></td>
              <td><%= link_to "Portfolio", '#', class: "btn btn-sm btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>